@model WonderlandBooks.Web.ViewModels.Home.HomeViewModel
@using WonderlandBooks.Common
@{
    this.ViewData["Title"] = "Welcome";
}

<section class="hero-wrap js-fullheight">
    <div class="overlay"></div>
    <div class="container-fluid px-0">
        <div class="row d-md-flex no-gutters slider-text align-items-center js-fullheight justify-content-end">
            <img class="one-third js-fullheight align-self-end order-md-last img-fluid" src="~/img/undraw_book_lover_mkck.svg">
            <div class="one-forth d-flex align-items-center ftco-animate js-fullheight">
                <div class="text mt-5">
                    <span class="subheading">Best Book Library</span>
                    <h1>Hello, dear readers and lovers of fantasy worlds!</h1>
                    <p>I want to introduce you to our world of magic and sorcery. Come and find out some of the most exciting stories and works by famous authors. If you want to be a part of our story... </p>
                    <p><a class="btn btn-primary py-3 px-4" asp-controller="Home" asp-action="Welcome">Join our adventures.</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pt ftco-no-pb ftco-counter img" id="section-counter">
    <div class="container">
        <div class="row d-md-flex align-items-center align-items-stretch">
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 bg-light">
                    <div class="text">
                        <strong class="number" data-number="@Model.Count.CountAuthors ">0</strong>
                        <span>Authors</span>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 bg-light">
                    <div class="text">
                        <strong class="number" data-number="@Model.Count.CountBooks">0</strong>
                        <span>Books</span>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 bg-light">
                    <div class="text">
                        <strong class="number" data-number="@Model.Count.CountGenres">0</strong>
                        <span>Genres </span>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 bg-light">
                    <div class="text">
                        <strong class="number" data-number="@Model.Count.CountWriting">0</strong>
                        <span>Writers</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        @foreach (var book in Model.RandomBooks)
        {
            <div class="movie-card">
                <div class="movie-header" style="background-image:url(@book.ImageUrl);    background-size: cover;">
                    <div class="header-icon-container">
                    </div>
                </div><!--movie-header-->
                <div class="movie-content">
                    <div class="movie-content-header">
                        <a asp-controller="Books" asp-action="Book" asp-route-id=@book.Id>
                            <h3>@book.Name</h3>
                        </a>
                    </div>
                    <div class="movie-info">
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Styles {

    <link href="~/custom/cards.css" rel="stylesheet" />

}

