@model WonderlandBooks.Web.ViewModels.WelcomePage.PresentationListViewModel
@{
    this.ViewData["Title"] = "Welcome";
}

<div class="container">
    @for (int i = 0; i < Model.Authors.Count(); i += 3)
    {

        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="@Model.Authors[i].ImageUrl">
                <div class="card-body">
                    <a class="card-title" asp-controller="Authors" asp-action="Author" asp-route-id="@Model.Authors[i].Id">@Model.Authors[i].Name</a>
                    <p class="card-text"><small class="text-muted">Website: @Model.Authors[i].Website</small></p>
                    <p class="card-text"><small class="text-muted">Books: @Model.Authors[i].Books</small></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="@Model.Authors[i+1].ImageUrl">
                <div class="card-body">
                    <a class="card-title" asp-controller="Authors" asp-action="Author" asp-route-id="@Model.Authors[i+1].Id">@Model.Authors[i + 1].Name</a>
                    <p class="card-text"><small class="text-muted">Website: @Model.Authors[i + 1].Website</small></p>
                    <p class="card-text"><small class="text-muted">Books: @Model.Authors[i + 1].Books</small></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="@Model.Authors[i+2].ImageUrl">
                <div class="card-body">
                    <a class="card-title" asp-controller="Authors" asp-action="Author" asp-route-id="@Model.Authors[i + 2].Id">@Model.Authors[i + 2].Name</a>
                    <p class="card-text"><small class="text-muted">Website: @Model.Authors[i + 2].Website</small></p>
                    <p class="card-text"><small class="text-muted">Books: @Model.Authors[i + 2].Books</small></p>
                </div>
            </div>
        </div>
    }
    <section class="carousel">
        <div class="reel">
            @foreach (var book in Model.Book)
            {
                <article>
                    <a class="image featured" asp-controller="Books" asp-action="Book" asp-route-id="@book.Id"><img src="@book.ImageUrl" alt="" /></a>
                    <header>
                        <h3><a href="#">@book.Name</a></h3>
                    </header>
                    <p>@book.EditionLanguageName</p>
                </article>
            }
        </div>
    </section>
</div>