@model WonderlandBooks.Web.ViewModels.Books.BookViewModel
@{
    this.ViewData["Title"] = "Book :)";
}

<section class="ftco-about img ftco-section" id="about-section">
    <div class="container">
        <div class="row d-flex no-gutters">
            <div class="col-md-6 col-lg-6 d-flex">
                <div class="img-about img d-flex align-items-stretch">
                    <div class="overlay"></div>
                    <div class="img d-flex align-self-stretch align-items-center" style="background-image:url(@Model.ImageUrl);">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 pl-md-5">
                <div class="row justify-content-start pb-3">
                    <div class="col-md-12 heading-section ftco-animate">
                        <h2 class="mb-4">@Model.Name</h2>
                        <p>@Model.Description</p>WS
                        <div class="text-about">
                            <h4>Author</h4>
                            @foreach (var author in Model.Authors)
                            {
                                <p>@author.Name</p>
                            }
                            <h4>Genres: </h4><p>@Model.Genres</p>
                            <h4>Pages: </h4><p>@Model.Pages</p>
                            <h4>Language: </h4><p>@Model.EditionLanguage</p>
                            <h4>Site: </h4><p>@Model.BookUrl</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
