@model WonderlandBooks.Web.ViewModels.Books.SearchListBookViewModel
@{
    ViewData["Title"] = "SearchBook";
}
<hr />
@if (Model.Books.Count() == 0)
{
    <h1>No results...</h1>
}
else
{
    <div class="container mt-5 mb-5">
        <div class="d-flex justify-content-sm-start row">
            <div class="col-md-10">
                @foreach (var book in Model.Books)
                {
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3">
                            <a asp-controller="Books" asp-action="Book" asp-route-id=@book.Id>
                                <img class="img-fluid img-responsive rounded product-image" src=@book.ImageUrl>
                            </a>
                        </div>
                        <div class="col-md-9">
                            <h3 class="text-center">@book.Name</h3>
                            <hr />
                            <h5>@book.Description ...</h5>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

}
<nav>
    <ul class="pagination justify-content-center">
        <li class="page-item @if (!Model.HasPreviousPage) {<text>disabled</text>} ">
            <a class="page-link" asp-controller="Books" asp-action="SearchBook" asp-route-search="@Model.SearchString"  asp-route-id="@Model.PreviousPageNumber">Previous</a>
        </li>
        @for (int i = Model.PageNumber - 3; i < Model.PageNumber; i++)
        {


            @if (i > 0)
            {
                <li class="page-item"><a class="page-link" asp-controller="Books" asp-route-search="@Model.SearchString" asp-route-id="@i">@i</a></li>

            }
        }
        <li class="page-item active" aria-current="page">
            <span class="page-link">
                @Model.PageNumber
                <span class="sr-only">(current)</span>
            </span>
        </li>
        @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 3; i++)
        {

            @if (i <= Model.PagesCount)
            {
                <li class="page-item"><a class="page-link" asp-controller="Books" asp-route-search="@Model.SearchString"  asp-route-id="@i">@i</a></li>

            }
        }
        <li class="page-item @if (!Model.HasNextPage) { <text> disabled</text>}">
            <a class="page-link" asp-controller="Books" asp-action="SearchBook" asp-route-search="@Model.SearchString" id="@Model.NextPageNumber">Next</a>

        </li>
    </ul>
</nav>
