@model WonderlandBooks.Web.ViewModels.CreativeWriting.CollectionOfStories

@{
    ViewData["Title"] = "Your Stories";
}
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-sm-start row">
        <div class="col-md-12">
            @foreach (var story in Model.Stories)
            {
                <div class="row p-2 bg-white border rounded">
                    <div class="col-md-3 mt-1">
                        <a asp-controller="CreativeWriting" asp-action="CurrentStory"asp-route-id=@story.Id>
                            <img class="img-fluid img-responsive rounded product-image" src=@story.Image>
                        </a>
                    </div>
                    <div class="col-md-6 mt-1">
                        <h5>@story.Title</h5>
                        <div class="d-flex flex-row">

                        </div>

                        <p class="text-justify text-truncate para mb-0">@story.Description<br><br></p>
                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                        <form method="post">
                            <div class="col-xs-3 text-center">

                                <div class="form-group">
                                    <input id="id" name="idStory" type="hidden" value="@story.Id">
                                    <input type="submit" asp-controller="CreativeWriting" asp-action="AddChapter" value="Add chapter" class="list-group-item list-group-item-action btn-block" ata-toggle="tooltip" />
                                </div>
                                <!--  <div class="form-group">
          <input id="id" name="idStory" type="hidden" value="@story.Id">
          <input type="submit" asp-controller="CreativeWriting" asp-action="GetChapters" value="Update chapter" class="list-group-item list-group-item-action btn-block" ata-toggle="tooltip" />
      </div>-->
                                <div class="form-group">
                                    <input id="id" name="idStory" type="hidden" value="@story.Id">
                                    <input type="submit" asp-controller="CreativeWriting" asp-action="UpdateStory" value="Update story" class="list-group-item list-group-item-action btn-block" ata-toggle="tooltip" />
                                </div>
                                <div class="form-group">
                                    <input id="id" name="idStory" type="hidden" value="@story.Id">
                                    <input type="submit" asp-controller="CreativeWriting" asp-action="DeleteStory" value="Delete story" class="list-group-item list-group-item-action btn-block" ata-toggle="tooltip" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
