@model WonderlandBooks.Web.ViewModels.CreativeWriting.UpdateStoryViewModel
@{
    ViewData["Title"] = "Update Story";
}
<hr />
<form method="post" class="col-md-6 offset-md-3" enctype="multipart/form-data">
    <div class="col-md-10 offset-md-1">
        <div class="form-group">
            <input type="hidden" value="@Model.Image" name="imagePath" />
            <input type="hidden" value="@Model.Id" asp-for="@Model.Id" />
            <img src="@Model.Image" class="mr-4 img-responsive" width="250" />
        </div>
        <div class="form-group">
            <label class="form-label" asp-for="@Model.Title"></label>
            <input class="form-control" value="@Model.Title" asp-for="@Model.Title">
            <span asp-validation-for="@Model.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="form-label" asp-for="@Model.Description"></label>
            <textarea class="form-control" asp-for="@Model.Description" rows="5">@Model.Description</textarea>
            <span asp-validation-for="@Model.Description" class="text-danger"></span>
        </div>
        <div class="form-select">
            <label>Genre</label>
            <select class="custom-select" asp-for="@Model.GenreId" asp-items="@ViewBag.Genres">
                <option selected="@Model.GenreId" value="@Model.GenreId">@Model.GenreName</option>
            </select>
            <span class="text-danger" asp-validation-for="@Model.GenreId"></span>
        </div>
        <div class="form-select">
            <label>Language</label>
            <select class="custom-select" asp-for="@Model.EditionLanguageId" asp-items="@ViewBag.Language">
                <option selected="@Model.EditionLanguageId" value="@Model.EditionLanguageId">@Model.EditionLanguageName</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="@Model.NewImage">
                If you are looking for a new cover
                <input type="file" class="form-control" style="border:0px solid white" asp-for="@Model.NewImage" accept="image/png, image/gif, image/jpeg" />
            </label>
        </div>
        &nbsp;

    </div>
    
    <div class="offset-md-11">
        <input type="submit" class="btn btn-outline-primary mr-xl-5 btn-lg " asp-controller="CreativeWriting" asp-action="UpdateStory" />
    </div>
</form>

@section Scripts {


}
@section Styles {

    <link href="~/custom/steps.css" rel="stylesheet" />
}
