@using WonderlandBooks.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/css/vendor/bootstrap/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/lazy.css" asp-append-version="true" />
    <link href="~/css/main.css" rel="stylesheet" />
    <noscript><link href="~/css/noscript.css" rel="stylesheet" /></noscript>

</head>
<body class="homepage is-preload">
    <div id="page-wrapper">
        <div id="header">
            <div class="inner">
                <header>
                    <h1><a src="~/img/LogoLayout.jpg" id="logo">Wonderland</a></h1>
                </header>
                <footer>
                    <a href="#banner" class="button circled scrolly">Start</a>
                </footer>
            </div>
            <!--<img src="~/img/LogoLayout.jpg" />-->
            <nav id="nav">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a>></li>
                    <li><a asp-controller="Authors" asp-action="GetTopTenAuthorsByBooksCount">TOP 10</a></li>
                    <partial name="_LoginPartial" />
                </ul>

            </nav>
        </div>
    </div>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/css/vendor/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/css/vendor/popper/popper.js" asp-append-version="true"></script>
    <script src="~/css/vendor/bootstrap/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/lazy.js" asp-append-version="true"></script>
    <script src="~/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.dropotron.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.scrolly.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.scrollex.min.js" asp-append-version="true"></script>
    <script src="~/js/browser.min.js" asp-append-version="true"></script>
    <script src="~/js/breakpoints.min.js" asp-append-version="true"></script>
    <script src="~/js/util.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
