@model WonderlandBooks.Web.ViewModels.Authors.AuthorViewModel
@{
    this.ViewData["Title"] = "Author";
}
<div class="wrapper style1">
    <div class="container">
        <article id="main" class="special">
            <header>
                <h2><a href="#">@Model.Name</a></h2>
                <p>
                    @Model.Website
                </p>
            </header>
            <div class="w-100 p-100 text-center ">
                <img class="responsive" src="@Model.ImageUrl" style="width:50%">
            </div>
            <div>
                <p class="h3 text-muted">
                    @Model.Biography
                </p>
            </div>
            <section class="col-4 col-12-mobile">

                <ul class="divided">
                    <li>
                        <article class="tweet">
                            <strong>Genres:</strong> @Model.Genres.ToString()
                        </article>
                    </li>
                </ul>
            </section>
        </article>
    </div>
</div>
<section class="carousel">
    <div class="reel">
        @foreach (var book in Model.Books)
        {
            <article class="align-self-sm-auto">
                <a class="image featured" asp-controller="Books" asp-action="Book" asp-route-id="@book.Id"><img src="@book.ImageExtension" alt="" /></a>
                <header>
                    <h3><a>@book.Name</a></h3>
                </header>
                <p>@book.EditionLanguageName</p>
            </article>
        }
    </div>
</section>
<hr />
<div class="row">
    @for (int i = 0; i < Model.Series.Count(); i++)
    {
        <article class="col-3 col-12-mobile special">

            <header class="table-responsive-sm">
                <h3><a href="#">@Model.Series[i].SeriesName</a></h3>
            </header>
            @foreach (var book in Model.Series[i].Books)
            {
                <a class="image featured" asp-controller="Books" asp-action="Book" asp-route-id="@book.Id"><img src="@book.ImageExtension" /></a>
                <div>
                    <h6 class="align-self-auto">@book.Name <em>(@book.NumberOfSet)</em></h6>
                </div>
            }
        </article>

    }
    <footer>
        <a class="button" asp-controller="Books" asp-action="AllBooks" asp-route-id="@Model.Id">See more books by @Model.Name </a>
    </footer>
</div>
<!---->